<%= form_for(@url) do |f| %> 
  <p>
    <%= f.label :full_url %>
    <%= f.text_field :full_url %>
  </p>
    <%= f.label :vanity, "Vanity Url (optional)" %>
    <%= f.text_field :vanity %>
  <p>
    <%= f.submit :class => "btn" %>
  </p>
<% end %>